html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body, .app-container {
    height: 100%;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
  }
  
  .main-view {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 40px;
  }
  
  .line {
    stroke: #00DECF;
    stroke-width: 1.5;
    fill: none;
  }
  .line--blue {
    stroke: #388CB2;
  }
  .line--green {
    stroke: #93C070;
  }
  .line--red {
    stroke: #A94442;
  }
  
  .domain {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
  }
  
  .tick, .axis-text {
    fill: #999;
    font: 11px 'Open Sans', sans-serif;
  }
  
  .legend {
    fill: #999;
    font: 13px 'Open Sans', sans-serif;
  }
  .legend--blue {
    fill: #388CB2;
  }
  .legend--green {
    fill: #93C070;
  }
  .legend--red {
    fill: #A94442;
  }
  
  .line-chart {
    flex: 1;
    overflow: hidden;
  }
  